@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --verde-escuro: #14424b;
    --verde: #2f9364;
    --orange: #ff7c37;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
    --color-p: #a1a1a1;
    --color-p-2: #868585;
}
.background-verde{
    background: var(--verde-escuro);
}
/* classes reutilizaveis */
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
.btn-gradiente{
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: var(--degrade-btn);
}
/* classes do site */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo a{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.ul{
    display: flex;
    align-items: center;
}
.ul li{
    margin: 0 35px;
    font-size: 15px;
}
.ul li a{
    color: white;
}
.ul li a:hover{
    box-shadow: 0px 10px 27px 8px #19373d;
    border-radius: 8px;
}
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.main-text{
    width: 50%;
    color: white;
}
.main-text h1{
    font-size: 4rem;
}
.main-text div{
    display: flex;
    align-items: center;
    padding: 30px;
}
.main-text div img{
    padding-left: 40px;
}
.main-img{
    width: 50%;
}
.main-img img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 10px 27px 8px #19373d;

}
/* section diferenciais */
.diferenciais .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.diferenciais .card{
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}
.diferenciais .card:hover{
    box-shadow: 0px 10px 27px 8px #a1a1a1;
}
.diferenciais .card img{
    width: 60px;
}
.diferenciais .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}
/* section viagem */
.viagem .container{
    display: flex;
    align-items: center;
}
.viagem .viagem-img{
    width: 50%;
}
.viagem .viagem-img img{
    width: 100%;
    border-radius: 10px;
}
.viagem .viagem-text{
    width: 50%;
    padding-left: 90px;
}
.viagem .viagem-text h2{
    font-size: 2.5em;
}
.viagem .viagem-text p{
    margin: 20px 0;
    color: var(--color-p);
}
.viagem .viagem-text p b{
    color: black;
    font-size: 25px;
}
/* fim section viagem */
/* menu icon */
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
/* section newsletter */
.newsletter{
    margin-top: 50px;
    background-color: var(--verde);
}
.newsletter .box-newsletter{
    text-align: center;
    padding: 100px;
    background-image: url('../imgs/background-newsletter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0px 10px 27px 8px #19373d;
}
.newsletter .box-newsletter h2{
    font-size: 2.5rem;
}
.newsletter .box-newsletter p{
    margin: 13px 0;
}
.newsletter .box-newsletter input{
    width: 35%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #00000098;
    background-color: #faefda;
}
.newsletter .box-newsletter button{
    font-size: 15px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 14px;
    color: white;
    background-color: var(--verde);
    cursor: pointer;
}
.newsletter .box-newsletter button:hover{
    background-color: var(--verde-escuro);
}
/* fim newsletter */
/* rodape */
footer{
    background-color: var(--verde-escuro);
}
footer .container{
    display: flex;
    color: white;
}
footer .container ul{
    width: 25%;
    margin-top: 20px;
}
footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container .redes-sociais img{
    margin-right: 10px;
}
footer .container ul > p{
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px 0;
}
footer .container a{
    color: white;
}
/* fim rodape */
.destinos .orange{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--orange);
}
.destinos h2{
    font-size: 2.5rem;
}
.destinos .cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px 0;
}
/*.destinos .cards .card-item{
    width: 30%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    transition: 0.3s;
}*/
.destinos .cards .card-item1:hover,
.destinos .cards .card-item2:hover,
.destinos .cards .card-item3:hover{
    box-shadow: 0px 10px 27px 8px #a1a1a1;
}
.destinos .cards .card-item1,
.destinos .cards .card-item2,
.destinos .cards .card-item3{
    width: 30%;
    text-align: center;
    padding: 90px 50px;
    border-radius: 20px;
    transition: 0.3s;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.destinos .cards .local{
    margin: 15px 0;
    color: white;
}
.destinos .cards button{
    padding: 10px 20px;
    color: white;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.informacoes .container .membros{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.informacoes .membro{
    width: 40%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}
.informacoes .membro:hover{
    box-shadow: 0px 10px 27px 8px #a1a1a1;
}
.informacoes .membro img{
    width: 60px;
}
.informacoes .membro .titulo{
    margin: 13px 0;
    font-weight: 600;
}
/* .destinos .cards2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}*/
/* responsivo */
@media (max-width: 960px){
    .menu-icon{
        display: block;
    }
    .ul{
        position: fixed;
        background:var(--verde-escuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.5s;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
    }
    .ul.ativo{
        left: 0;
    }
    main .container{
        flex-direction: column;
    }
    main .container .main-img,
    main .container .main-text{
        width: 100%;
        text-align: center;
    }
    main .container .main-text h1{
        font-size: 4rem;
    }
    main .container .main-text div{
        justify-content: center;
    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100%;
    }
    .viagem .container{
        flex-direction: column-reverse;
    }
    .viagem .viagem-text,
    .viagem .viagem-img{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .newsletter .box-newsletter{
        padding: 50px;
    }
    .newsletter .box-newsletter h2{
        font-size: 2rem;
    }
    .newsletter .box-newsletter input{
        width: 90%;
    }
    .newsletter .box-newsletter button{
        width: 50%;
        margin-top: 20px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
    .destinos .cards{
        flex-direction: column;
    }
    .destinos .cards .card-item1,
    .destinos .cards .card-item2,
    .destinos .cards .card-item3{
        width: 100%;
        margin-top: 50px;
    }
    .informacoes .membros{
        flex-direction: column;
    }
    .informacoes .membros .membro{
        width: 100%;
        margin-top: 50px;
    }
}
